<div
  class="dash-header"
  [style.background]="background"
  [style.border-radius]="border"
  [style.box-shadow]="boxshadow"
>
  @if (showMenuButton) {
  <div class="menu-section">
    <button class="menu-button" (click)="onMenuButtonClick()">
      <ion-icon name="menu"></ion-icon>
    </button>
  </div>
  } @if (icon) {
  <div class="logo">
    <img src="assets/logo/logo.png" alt="Logo" />
  </div>
  }
  <div class="basic-data">
    <p>Hola, {{ userName }}</p>
    <p>{{ greeting }}</p>
  </div>

  <div class="box">
    <!-- <button class="nav-button" (click)="navigateToPage()">
      <ion-icon name="calendar-outline"></ion-icon>
      Agenda tus citas
    </button> -->
  </div>
</div>
