<footer class="footer">
  <div class="footer-container">
    <div class="footer-social">
      <span class="social-title">SÍGUENOS</span>
      <div class="social-icons">
        <a href="#" class="social-link">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a href="#" class="social-link">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Esencia y cuerpo. Tunja, Boyacá - Colombia</p>
    </div>
  </div>
</footer>
