<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="animate-slide-up cp-form">
  <p class="p-intro">
    Te ayudaremos a recuperar tu contraseña,
    por favor recuérdanos el email con el que
    te registraste.
  </p>
  <div class="custom-input">
    <label for="email">Correo Electrónico</label>
    <input id="email" type="email" formControlName="email" required />
  </div>
  <p
    class="error-text"
    *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched"
  >
    Por favor, ingrese un correo válido.
  </p>

  <div class="button-container">
    <app-custom-button
      label="Recuperar Contraseña"
      type="submit"
      [disabled]="resetPasswordForm.invalid"
      [textColor]="'var(--color-secondary)'"
      [background]="buttonBackground"
    ></app-custom-button>
  </div>
</form>
