ion-content {
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 30px 10px 10px 10px;

  .p-intro{
    color: var(--color-secondary);
    font-size: large;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
  }
}

.custom-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
  font-size: 1.063rem;
  font-weight: bold;

  label {
    color: var(--color-secondary);
    margin-bottom: 15px;
  }
}

.custom-input input {
  background: var(--color-smooth_light);
  border: 2px solid var(--color-secondary);
  border-radius: 20px;
  padding: 10px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
}

.custom-input input:focus {
  border-color: var(--color-quaternary);
  box-shadow: 0 0 0 4px rgba(142, 212, 170, 0.2);
}


.error-text {
  color: var(--color-primary);
  font-size: 12px;
  font-weight: 500;
}

.signup-text {
  text-align: center;
}


.button-container {
  margin: 10px 0;

}

ion-item.show-pass {
  --background: transparent !important;
  --border-color: transparent !important;
  --inner-border-width: 0px !important;
  --highlight-color-focused: transparent !important;
  --ion-item-background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
  color: var(--color-secondary) !important;
}


ion-checkbox {
  --border-color: var(--color-primary) !important;
  --checkmark-color: var(--color-tertiary) !important;
  --background-checked: var(--color-primary) !important;
}

@media (min-width: 1024px) {
  form {
    align-items: center;

    .p-intro{
      width: 80%;
      text-align: center;
    }

    .custom-input {
      width: 80%;
      text-align: center;

      label {
        align-self: flex-start;
      }
    }

    .button-container {
      margin: 10px 25px;

    }
  }
}
