button {
  width: 100%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:hover:not(:disabled) {
    filter: brightness(1.1);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
